altgraph
asgiref
awsebcli
blessed
boto3
botocore
cement
certifi
charset-normalizer
colorama
dj-database-url
Django
django-cors-headers
django-environ
djangorestframework
djangorestframework_simplejwt
Faker
gunicorn
idna
jmespath
MarkupSafe
packaging
pathspec
psycopg
psycopg-binary
psycopg-pool
psycopg2-binary
pyinstaller
pyinstaller-hooks-contrib
PyJWT
python-dateutil
PyYAML
requests
s3transfer
semantic-version
serverless-wsgi
setuptools
six
sqlparse
termcolor
typing_extensions
urllib3
uuid
wcwidth
Werkzeug
whitenoise
